{% extends "base.html" %}

{% block content %}
    {#    FIXME: Kinda hacky to just store username here somewhere.. we should save it in base#}
    <div id="_my_username" style="display:none">{{ user.username }}</div>
    <script src="{{ url_for('static', filename='js/chat/socketio2.0.2.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chat/ts_format.js') }}"></script>

    <script type="text/javascript" src="//golden-layout.com/files/latest/js/goldenlayout.min.js"></script>
    <link type="text/css" rel="stylesheet" href="//golden-layout.com/files/latest/css/goldenlayout-base.css"/>
    <link type="text/css" rel="stylesheet" href="//golden-layout.com/files/latest/css/goldenlayout-dark-theme.css"/>

    <script src="{{ url_for('static', filename='js/chat/markdown-it-8.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chat/markdown-it-emoji-1.4.0.min.js') }}"></script>
    <script src="//twemoji.maxcdn.com/2/twemoji.min.js?2.3.0"></script>
    <script src="{{ url_for('static', filename='js/chat/markdown-it-mathjax-2.0.0.js') }}"></script>

    <script async
            src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_CHTML'></script>

    <script src="{{ url_for('static', filename='js/chat/chat-alpha.js') }}"></script>
    <link href="{{ url_for('static', filename='styles/chat-alpha.css') }}" rel="stylesheet" type="text/css"/>


    <div id="wrapper">
        <div id="layoutContainer"></div>
    </div>


{% endblock %}