{% extends "base.html" %}

{% block content %}
{#    FIXME: Kinda hacky to just store username here somewhere.. we should save it in base#}
    <div id="_my_username" style="display:none">{{ user.username }}</div>
    <script src="{{ url_for('static', filename='js/chat/socketio2.0.2.js') }}"></script>
    <script type="text/javascript" src="//golden-layout.com/files/latest/js/goldenlayout.min.js"></script>
    <link type="text/css" rel="stylesheet" href="//golden-layout.com/files/latest/css/goldenlayout-base.css" />
    <link type="text/css" rel="stylesheet" href="//golden-layout.com/files/latest/css/goldenlayout-dark-theme.css" />
    <script src="{{ url_for('static', filename='js/chat/chat-alpha.js') }}"></script>
    <link href="{{ url_for('static', filename='styles/chat-alpha.css') }}" rel="stylesheet" type="text/css"/>


    <div id="wrapper">
        <ul id="roomList"></ul>
        <div id="layoutContainer"></div>
    </div>


{% endblock %}