{% extends "base.html" %}

{% block content %}
{#    FIXME: Kinda hacky to just store username here somewhere.. we should save it in base#}
    <div id="_my_username" style="display:none">{{ user.username }}</div>
    <script src="{{ url_for('static', filename='js/chat/socketio2.0.2.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chat/notifs.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chat/ts_format.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chat/marked-0.3.6.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chat/chat.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chat/jquery.caret.js') }}"></script>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            extensions: ["tex2jax.js", "Safe.js"],
            jax: ["input/TeX", "output/HTML-CSS"],
            tex2jax: {
                inlineMath: [ ['$$', '$$'], ['\\(', '\\)'], ['\\[', '\\]'] ],
                displayMath: [ ],
                processEscapes: true,
            },
            "HTML-CSS": {availableFonts: ["TeX"]},
            "fast-preview": {
                Chunks: {EqnChunk: 10000, EqnChunkFactor: 1, EqnChunkDelay: 0},
                color: "inherit!important",
                updateTime: 30, updateDelay: 6,
                messageStyle: "none",
                disabled: false
            },
        });
    </script>
    <script async
            src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_CHTML'></script>
    <link href="{{ url_for('static', filename='styles/chat.css') }}" rel="stylesheet" type="text/css"/>

    <div class="container">
        <div class="row">
            <div id="users_in_room"></div>
        </div>
        <div class="row">
            <div class="col">
                <div id="chatroom">
                    <ul id="chat_messages"></ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-fixed-bottom">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div id="latex_preview" class="collapse">
                        $${}$$
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="text"
                           id="text"
                           class="form-control"
                           autocomplete="off"
                    />
                </div>
            </div>
        </div>
    </div>
{% endblock %}
