body {
    color: rgb(205, 200, 206);
    background-color: #102031;
    padding-top: 50px;
}

.fa {
    padding: 30px;
    font-size: 30px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 10%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-github {
    font-size: 17px;
}

.navbar-custom {
    background-color:#102031;
    color: rgb(205, 200, 206);
    border-radius:0;
    border-color: #080808;
    border-bottom-width: thin;
}

.navbar-custom .navbar-nav > li > a {
    color: rgb(205, 200, 206);
}

.navbar-custom .navbar-nav > .active > a {
    color: rgb(205, 200, 206);
    background-color:transparent;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
    text-decoration: none;
    background-color: #080808;
}

.navbar-custom .navbar-brand {
    color: rgb(205, 200, 206);
}
.navbar-custom .navbar-toggle {
    background-color: rgb(205, 200, 206);
}
.navbar-custom .icon-bar {
    background-color: #102031;
}

.glyphicon {
    font-size: 17px;
}

li #send_whisper_to {
    background: inherit;
    cursor: pointer;
}

#chat_username {
    max-width: 50%;
    color: #75bcd1;
    background: inherit;
    display: inline-block;
}

#chat_username[user^="a"]{color: #ff60b1; font-weight:bold;}
#chat_username[user^="b"]{color: #ff5769; font-weight:bold;}
#chat_username[user^="c"]{color: #e3d762; font-weight:bold;}
#chat_username[user^="d"]{color: #9cff68; font-weight:bold;}
#chat_username[user^="e"]{color: #60ffd1; font-weight:bold;}
#chat_username[user^="f"]{color: #62b2ff; font-weight:bold;}
#chat_username[user^="g"]{color: #13a7ff; font-weight:bold;}
#chat_username[user^="h"]{color: #fffa70; font-weight:bold;}
#chat_username[user^="i"]{color: #ff60b1; font-weight:bold;}
#chat_username[user^="j"]{color: #ff8441; font-weight:bold;}
#chat_username[user^="k"]{color: #1fe5ef; font-weight:bold;}
#chat_username[user^="l"]{color: #9cff68; font-weight:bold;}
#chat_username[user^="m"]{color: #60ffd1; font-weight:bold;}
#chat_username[user^="n"]{color: #62b2ff; font-weight:bold;}
#chat_username[user^="o"]{color: #13a7ff; font-weight:bold;}
#chat_username[user^="p"]{color: #fffa70; font-weight:bold;}
#chat_username[user^="q"]{color: #ff60b1; font-weight:bold;}
#chat_username[user^="r"]{color: #b860ff; font-weight:bold;}
#chat_username[user^="s"]{color: #ff8441; font-weight:bold;}
#chat_username[user^="t"]{color: #e3d762; font-weight:bold;}
#chat_username[user^="u"]{color: #9cff68; font-weight:bold;}
#chat_username[user^="v"]{color: #60ffd1; font-weight:bold;}
#chat_username[user^="w"]{color: #62b2ff; font-weight:bold;}
#chat_username[user^="x"]{color: #13a7ff; font-weight:bold;}
#chat_username[user^="y"]{color: #fffa70; font-weight:bold;}
#chat_username[user^="z"]{color: #a922b7; font-weight:bold;}
#chat_username[user^="1"]{color: #ff60b1; font-weight:bold;}


/*CSS for image zoom-in*/
#large_image_container {
    position: fixed;
    width: 100vw;
    z-index: 150000;
    height: 100vh;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.4);
    display: none;
}

#image_large {
    max-height: 90%;
    max-width: 90%;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    position: absolute;
    display: none;
}

#large_image_container.show {
    display: block;
}

#large_image_container.show > #image_large {
    display: block;
}
