body {
    color: rgb(205, 200, 206);
    background-color: #102031;
    padding-top: 57px;
}

.navbar {
    background-color: #1e1f1f;
    color: rgb(196, 192, 197);
    border-bottom: 1px solid;
    border-color: #757373;
}

.navbar .navbar-brand {
    color: rgb(205, 200, 206);
}

.navbar .navbar-toggler {
    /*background-color: rgb(205, 200, 206);*/
}

.navbar .nav-item {
    font-size: 17px;
}

#roomButtons {
    width: 100%; /* Expand buttons to fill room list column */
}

#roomButtons .btn-group-vertical {
    position: absolute;
    top: 0px;
}

.btn-group-vertical .btn {
    margin: 2px 0px 2px 0px; /*top right bottom left*/
    /*By default bootstrap groups only round the top and bottom buttons.
      Override with important. Other styling didn't work.*/
    border-radius: 10px !important;
}

.fa, .fas, .fa-fw {
    font-size: 24px;
    color: gray;
    border-radius: 5px;
    margin: 2px;
}

.fa:hover, .fas:hover, .fab:hover {
    opacity: 0.7;
    background-color: rgb(205, 200, 206);
}


.fa-google {
    background: #dd4b39;
    color: white;
    padding: 30px;
    font-size: 30px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 10%;
}

.glyphicon {
    font-size: 17px;
}

li #send_whisper_to {
    background: inherit;
    cursor: pointer;
}

#roomButtons #chat_username {
    display: block;
}

#chat_username {
    max-width: 50%;
    color: #75bcd1;
    background: inherit;
    display: inline-block;
    font-weight:bold;
}

#chat_username[user^="a"]{color: #ff60b1; }
#chat_username[user^="b"]{color: #ff5769; }
#chat_username[user^="c"]{color: #e3d762; }
#chat_username[user^="d"]{color: #9cff68; }
#chat_username[user^="e"]{color: #60ffd1; }
#chat_username[user^="f"]{color: #62b2ff; }
#chat_username[user^="g"]{color: #13a7ff; }
#chat_username[user^="h"]{color: #fffa70; }
#chat_username[user^="i"]{color: #ff60b1; }
#chat_username[user^="j"]{color: #ff8441; }
#chat_username[user^="k"]{color: #1fe5ef; }
#chat_username[user^="l"]{color: #9cff68; }
#chat_username[user^="m"]{color: #60ffd1; }
#chat_username[user^="n"]{color: #62b2ff; }
#chat_username[user^="o"]{color: #13a7ff; }
#chat_username[user^="p"]{color: #fffa70; }
#chat_username[user^="q"]{color: #ff60b1; }
#chat_username[user^="r"]{color: #b860ff; }
#chat_username[user^="s"]{color: #ff8441; }
#chat_username[user^="t"]{color: #e3d762; }
#chat_username[user^="u"]{color: #9cff68; }
#chat_username[user^="v"]{color: #60ffd1; }
#chat_username[user^="w"]{color: #62b2ff; }
#chat_username[user^="x"]{color: #13a7ff; }
#chat_username[user^="y"]{color: #fffa70; }
#chat_username[user^="z"]{color: #a922b7; }

/*Contributors, mods and admins*/
#chat_username[user^="🛠️"]{color: #75bcd1;}
#chat_username[user^="🔧"]{color: #75bcd1;}
#chat_username[user^="🔨"]{color: #75bcd1;}


/*CSS for image zoom-in*/
#large_image_container {
    position: fixed;
    width: 100vw;
    z-index: 150000;
    height: 100vh;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.4);
    display: none;
}

#image_large {
    max-height: 90%;
    max-width: 90%;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    position: absolute;
    display: none;
}

#chatMessage img {
    cursor: zoom-in;
}
