/*#users_in_room {*/
    /*display: inline-block;*/
    /*min-height: 5%;*/
    /*height: 5%;*/
/*}*/

body {
    padding-bottom: 50px;
}

#chatroom {
    border: 1px solid #fff;
    border-radius: 4px;
    height: 95%;
    overflow-y: auto;
    text-align: left;
}

#chat_message {
    background: inherit;
}

#chat_message_private {
    border: 0.2px dashed #f7f7f9;
}

#chat_message_to_me {
    border: 0.2px solid #9eff8c !important;
}

#chat_messages {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    width: 100%;
    word-wrap: break-word;
}

#chat_messages li {
    padding: 5px 10px;
    color: rgb(162, 162, 162);
}

#chat_messages li:nth-child(odd) {
    background: #0b1526;
    color: rgb(162, 162, 162);
}

#text {
    background: inherit;
    color: #fff;
    padding: 10px 10px;
    box-sizing: border-box;
    border: 1px solid #fff;
    border-radius: 4px;
}

#chat_message:hover #timestamp {
    display: inline-block;
}
#chat_message:focus #timestamp {
    display: inline-block;
}

#chat_message_private:hover #timestamp {
    display: inline-block;
}
#chat_message_private:focus #timestamp {
    display: inline-block;
}

#timestamp {
    font-size: 60%;
    background: inherit;
    display: none;
    float: right;
}

#latex_preview {
    border: 1px solid #fff;
    border-radius: 4px;
    height: 70px;
    overflow-y: scroll;
}

/*MathJax generated output - inspected the element to discover the class name*/
#chat_messages .mjx-chtml {
    display: inline-block;
    background: inherit;
}
/*Without these, background still not being inherited behind some math symbols*/
[id^="MathJax-Element"] {
    background: inherit;
}
[id^="MJXc-Node"] {
    background: inherit;
}
[class^="MJX_"] {
    background: inherit;
}
[class^="mjx-"] {
    background: inherit;
}
