{% extends "base.html" %}


{% block content %}
    {% if current_user.is_anonymous %}
        <h1 style="font-family: Arial">Please Register or Sign in via the below:</h1>
        <div class="text-left">
             {# <a href="{{ url_for('oauth_authorize', provider='facebook') }}" class="fa fa-facebook"></a> #}
            <a href="{{ url_for('oauth_authorize', provider='google') }}" class="fa fa-google"></a>
        </div>
    {% else %}
        <p>
        <h1 style="font-family: Arial">This page is under construction. Please check out the chat in the meantime.</h1>
        </p>
    {% endif %}
{% endblock %}
