{% extends "base.html" %}


{% block content %}
    <script src="{{ url_for('static', filename='js/settings.js') }}"></script>
    <img src="{{ user.gravatar(160) }}" class="img-rounded"/>
    <div>
        <button id="clearSavedLayout">Clear saved layout</button>
        <select id="styleSheetChoice" name="Choose a theme...">
            <option value="">Choose a theme...</option>
            <option value="dark">Dark</option>
            <option value="light">Light</option>
        </select></div>


    {% if user.is_admin %}
        <p><a href="{{ url_for('admin.index') }}">Go to admin page</a></p>
    {% endif %}
{% endblock %}
