{% extends "base.html" %}


{% block content %}
    <script src="{{ url_for('static', filename='js/moment.js') }}"></script>


    <h1>Hi, {{ user.username }}!</h1>
    <img src="{{ user.gravatar(160) }}" class="img-rounded"/>
    {% if user.last_seen %}
        <p><i>Last seen: {{ momentjs(user.last_seen).calendar() }}</i></p>
    {% endif %}
    {% if user.is_admin %}
        <p><a href="{{  url_for('admin.index') }}">Go to admin page</a></p>
    {% endif %}
    {% for post in posts %}
        <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>
    {% endfor %}
{% endblock %}
